a {
  color: green;
}
.body{
    display: flex;
    flex-direction: column;
    }
.main{
    display: flex;
    flex-direction: row-reverse;
    flex: auto;
    }
.aside{
    flex: 1;
    }
.article{
    flex: 3;
    }
