a {
  color: green;
}
.body{
    display: flex;
    flex-direction: row
    }
.main{
     display: flex;
     flex-direction: column;
     flex: auto;
     }
.article{
        display: flex;
        flex: 3;
        }
.aside{
      display: flex;
      flex: 1;
      }
